@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Satisfy&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
}

.bx-pencil {
    font-size: 30px;
    color: #f5645f;
}

.quote {
    text-align: center;
    color: #383333;
}

.author {
    color: #f5645f;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
}

hr {
    margin: 10px 0;
    width: 70%;
    border: 1px solid #646669;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.twitter-share-button {
    text-decoration: none;
    font-size: 20px;
    background-color: #f5645f;
    padding: 10px;
    color: black;
    border-radius: 4px;
}
.twitter-share-button:hover {
    color: white;
    background-color: #1DA1F2;
    transition: 0.5s;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttons button {
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: black;
    background-color: #f5645f;
    padding: 10px;
    border-radius: 4px;
}

button:focus {
    outline: none;
}

button:hover {
    color: white;
    transition: 0.5s;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer {
    position: fixed;
    margin: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

